<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>ARG - Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='chemin.css') }}">

</head>

<body>

  <a href="/enigme1" class="centre_ville">centre_ville</a>
  <a href="/front_eglise" class="eglise">eglise</a>
  <!-- HUD -->

  <div class="mission-hud">
    <p>DATE : 11/02/2026</p>
    <p>HEURE : 19:57</p>
    <p>LIEU : Lyon - Les Alentours</p>
  </div>

  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <button class="notebook-btn"></button>

  <!-- Carnet -->
  <div class="notebook">
    <div class="close-btn">✖</div>
    <textarea class="notebook-text" placeholder="Écris ici tes pistes..."></textarea>
  </div>

  <!-- JS Flask -->
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>

</html>