<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>ARG - Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='front_base_open.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

  <a href="/front_batiment" class="in-eglise"></a>
  
  <div class="mission-hud">
    <p>DATE : 12/02/2026</p>
    <p>HEURE : 17:34</p>
    <p>LIEU : Lyon - Base militaire</p>
  </div>

  <button class="notebook-btn">
    <img src="{{ url_for('static', filename='pics/mini-clipboard.png') }}" style="width: 50px;">
  </button>

  <div class="notebook" style="display: none;">
    <div class="close-btn">✖</div>
    <textarea class="notebook-text" placeholder="Écris ici tes pistes..."></textarea>
  </div>

  <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>

</html>