<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Car</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='front_base.css') }}"
    />
  </head>

  <body>
    <div class="conteneur-enigme">
      <h2 class="feedback">Système de Sécurité de la Barrière</h2>

      <button onclick="checkAcces()" class="fence">
        Actionner la barrière
      </button>

      <p id="affichage-resultat"></p>

      <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </div>
  </body>
</html>
