<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>ARG - Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='in_eglise.css') }}">

</head>

<body>

  <div class="game-container">
    <img id="background-img"
      src="{{ url_for('static', filename='pics/' + ('in_eglise_px_no_clipboard.png' if 'clipboard' in session.get('inventory', []) else 'in_eglise_px.png')) }}"
      data-empty="{{ url_for('static', filename='pics/in_eglise_px_no_clipboard.png') }}">

    {% if 'clipboard' not in session.get('inventory', []) %}
    <div id="clip-eglise" class="objet-interactif" onclick="ramasserObjet('clipboard')"></div>
    {% endif %}
  </div>

  <!-- HUD -->

  <div class="mission-hud">
    <p>DATE : 11/02/2026</p>
    <p>HEURE : 19:57</p>
    <p>LIEU : Lyon - Les Alentours</p>
  </div>

  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <button class="notebook-btn"></button>

  <!-- Carnet -->
  <div class="notebook">
    <div class="close-btn">✖</div>
    <textarea class="notebook-text" placeholder="Écris ici tes pistes..."></textarea>
  </div>

  <!-- JS Flask -->
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>

</html>