<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>ARG - Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>

<body>
  <h1 class="titre">Bienvenue dans l'ARG 🔥</h1>

  <p>L'histoire commence ici…</p>
  <a href="/test">Commencer le jeu</a>
  <a href="/enigme1" class="porte">porte</a>

  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <button class="notebook-btn"></button>

  <!-- Carnet -->
  <div class="notebook">
    <div class="close-btn">✖</div>
    <textarea class="notebook-text" placeholder="Écris ici tes pistes..."></textarea>
  </div>

  <!-- JS Flask -->
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>

</html>