body{ 
  margin: 0;
  width: 100vw; 
  height: 100vh; 
  background-image: 
  url("pics/LYON2.0.png"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden;
}

.titre {
  font-family: monospace;
}